
.do-group{
    margin-bottom: 20px;
}

.do-input{
    text-indent: 15px;
    width: 100%;
    border: 1px solid #ccc;
    line-height: $input-height;
    height: $input-height;
    border-radius: $input-radius;
    &:focus{
        outline: none;
    }
    &::placeholder{
        text-transform: capitalize;
    }
}

.do-btn{
    border: 1px solid #ccc;
    background: none;
    padding: 6px 15px;
    text-transform: capitalize;
    color:#666;
    border-radius: 15px;
    a{
        text-decoration: none;
        color: #666;
    }
    &:focus{
        outline: none;
    }
    &:hover{
        background: #eee;
    }
}

.full-btn{
    width: 100%;
}

.primary-btn{
    background: $primary-color;
    border: 1px solid $primary-color;
    color: #fff;
    a{
        color: #fff;
    }
    &:hover{
        background: $light-primary-color;
    }
}

.container{
    padding: 0 15px;
}

.do-container{
    padding: 20px 60px 0 60px;
    margin: 0 auto;
    @media screen and(max-width: 762px) {
        padding: 10px 20px 0 20px;
    }
}

.do-md-container{
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}
.do-content-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px 30px 15px;
}


.action{
    font-size: 16px;
    color: $primary-color;
    &:hover{
        color: $light-primary-color;
        cursor: pointer;
    }
}

.full-page{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #fff;
    min-height: 100vh;
    @include clearfix;
}

.do-title{
    font-size: 3em;
    margin: 20px 0 10px 0;
    font-weight: 600;
}
.do-sub-title{
    font-size: 1.2em;
    font-weight: 600;
    margin: 10px 0 5px 0;
}

.do-header{
    padding: 10px 0;
    background: #fff;
    box-shadow: 0 0 5px 1px #999;
    a{
        color: #fff;
    }
    .action-icon{
        color: #fff;
    }
    .logo{
        height: 30px;
    }
}

.pull-right{
    float: right;
}

.middle-row{
    display: flex;
    align-items: center;
}

.img-icon{
    height: 60px;
    width: 100px;
    overflow: hidden;
    text-align: center;
    line-height: 60px;
    img{
        max-height: 60px;
        width: auto;
    }
}

.hidden-xs{
    @media screen and(max-width: 762px) {
        display: none;
    }
}

.do-text-large {
    font-size: 30px;
    font-weight: 300;
}

.do-card {
    padding: 20px;
    margin-bottom: 20px;
    display: inline-block;
    width: 200px;
    background-color: #fff;
    margin-right: 20px;

    &-title {
        font-weight: 600;
        margin-right: 6px;
    }
}

.do-tag {
    background-color: #f3f3f3;
    padding: 3px 7px 4px;
    margin-right: 5px;
    border-radius: 4px;
    color: #888;
    font-size: 12px;
}

.do-fix-btn {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    text-align: center;
    color: #fff;
    box-shadow: 0 4px 20px -9px rgba(0,0,0,0.65);
    transition: all ease 0.3s;
    cursor: pointer;
    &:hover {
        background-color: $light-primary-color;
        box-shadow: 0 4px 20px -5px rgba(0,0,0,0.65);
    }
    >span {
        position: relative;
        top: -4px;
    }
}