.main-view {
  height: 100vh;
  min-width: 1300px;
}

.main-nav {
  width: $nav-width;
  position: fixed;
  height: 100vh;
  background-color: $sidebar-bg-color;
  z-index: 10;

  .nav-menu {
    box-sizing: border-box;
    background-color: $sidebar-bg-color;
    width: $nav-width;
    color: #a3a3a3;
    margin: 0 !important;
    &:hover {
      color: #fff;
    }
  }
  .nav-menu {
    &.active {
      color: #fff;
      background-color: $primary-color;
      transition: all ease-in 0.3s;
    }
  }

  .sub-menus {
    .ant-menu-submenu-title {
      margin: 0 !important;
      background-color: $sidebar-bg-color;
      color: #fff;
    }
    .nav-menu {
      height: 40px;
      line-height: 40px;
    }
  }

  .main-nav-logo {
    padding: 10px 20px;
    color: #fff;
    background-color: #222;
    line-height: 50px;
    font-size: 24px;
    letter-spacing: 1px;
    img {
      width: 75px;
      vertical-align: -2px;
    }
  }
}

.main-content {
  margin-left: $nav-width;
  background-color: #f3f3f3;
  padding-bottom: 40px;
  @media screen and(max-width: 762px) {
    margin-left: 0;
  }
  min-height: 100vh;
  transition: margin-left ease 0.4s;
}

.collapsed + .main-content {
  margin-left: $nav-collapsed-width;
}
