@primary-color: #1890ff;
@active-color: #aaa;
@light-primary-color: #18aeff;
@nav-bg-color: #1890ff;
@active-nav-color: @primary-color;
@nav-width: 200px;
@nav-collapsed-width: 52px;

.clearfix{
    overflow:auto;
    height:1%;
}